@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-bg-color: #2f2f2f;
  --secondary-bg-color: #1a1a1a;
  --text-color: #ffffff;
  --accent-color: #00a8cc;
  --dice-color: #ff5722;
  --winner-bg-color: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: var(--text-color);
  background-image: linear-gradient(
    to top left,
    var(--primary-bg-color) 0%,
    var(--secondary-bg-color) 100%
  );
}

/* LAYOUT */
main {
  display: flex;
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: var(--secondary-bg-color);
  backdrop-filter: blur(200px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 50%;
  padding: 9rem;
  transition: all 0.8s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: auto;
}

.player--active {
  background-color: var(--primary-bg-color);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: var(--accent-color);
  opacity: 0.8;
  border-radius: 10px;
  color: var(--text-color);
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.8s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--text-color);
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player--winner {
  background-color: var(--winner-bg-color);
}

.player--winner .name {
  font-weight: 700;
  color: var(--accent-color);
}
