@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primary-bg-color: #2f2f2f; /* Dark background */
  --secondary-bg-color: #1a1a1a; /* Slightly lighter background */
  --text-color: #ffffff; /* White text */
  --active-bg-color: #1976d2; /* Blue for active player */
  --winner-bg-color: #4caf50; /* Green for winner */
  --dice-color: #ff5722; /* Dice color */
  --shadow-color: rgba(0, 0, 0, 0.35); /* Shadow color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  height: 100vh;
  background: var(--primary-bg-color); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--secondary-bg-color),
    var(--primary-bg-color)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--secondary-bg-color),
    var(--primary-bg-color)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* LAYOUT */
main {
  display: flex;
  position: relative;
  width: 100rem;
  height: 60rem;
  background: var(--secondary-bg-color);
  backdrop-filter: blur(20px);
  box-shadow: var(--shadow-color) 0px 5px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.player-cards {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  transition: all 0.75s;
  text-align: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 50%;
  padding: 9rem;
  transition: all 0.8s ease;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: auto;
}

.player--active {
  background: linear-gradient(45deg, #2196f3, #00bcd4);
  box-shadow: var(--shadow-color) 0px 5px 20px;
  transition: all 0.8s ease;
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: var(--text-color);
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.8s ease;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: var(--text-color);
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: var(--shadow-color) 0px 5px 15px;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: var(--shadow-color) 0px 5px 15px;
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: var(--shadow-color) 0px 5px 15px;
}

.player--winner {
  background: var(--winner-bg-color);
  transition: all 0.8s ease;
}

.player--winner .name {
  font-weight: 700;
  color: var(--text-color);
}

.hidden {
  display: none;
}

@media screen and (max-width: 801px) {
  main {
    width: 80%;
  }
  .dice {
    height: 6rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
  }
  .dice {
    margin-top: -20%;
    height: 5rem;
  }
  .score {
    margin-top: 0;
  }
  .btn {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .btn--new {
    top: 25%;
  }
  .btn--roll {
    top: 40%;
    padding: 0.5rem;
  }
  .btn--hold {
    top: 50%;
    padding: 0.9rem;
  }

  .btn--roll:hover,
  .btn--hold:hover {
    padding: 0.5rem;
  }

  .btn--new:hover {
    padding: 1rem;
    font-size: 1rem;
  }

  .current-score {
    font-size: 2rem;
    margin-top: 0;
    padding: 1.5rem;
  }
}
